@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');


body {
    background: black;
    font-family: "Syne", sans-serif;
}

html,
body {
    overflow-x: hidden;
}

/* common classes */
.btn-2:hover {
    background-color: black;
    box-shadow: 0 0 3px #5cd2b9;
    color: white;
}

a {
    display: inline-block;
    text-decoration: none;
}

/* header section */
header {
    background: #151515;
}

.bg-body-tertiary {
    background: transparent !important;
}

.nav-link {
    color: white !important;
}

.nav-logo {
    height: 55px;
    width: 58px;
}

.navbar-brand,
.navbar-brand>img {
    height: 100%;
    width: inherit;
    object-fit: contain;
}


.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.20rem #5cd2b9;
}

.navbar-toggler-icon {
    background-image: url(../assets/green-hamburger.png);
}

#navbar-toggler-icon.active {
    /* Example: rotate into an 'X' */
    background-image: url(../assets/cross-for-hamburger.png);
    transform: rotate(360deg);
    transition: transform 0.5s ease;
}

/* HERO SECTION */
.hero-section {
    background: linear-gradient(270deg, #429887, #02010100, #02010100);
    padding: 90px 0;
}

h1 {
    background: linear-gradient(to right, #5cd2b9, rgb(254, 254, 255));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: gradient 2s linear infinite;
    font-size: 100px;
    line-height: 1;
}

@keyframes gradient {
    to {
        background-position: 200%;
    }
}

.white {
    color: white;
    font-size: 25px;
}

.small {
    font-size: 22px;
}

.details {
    color: white;
    font-size: 20px;
    max-width: 500px;
}

.mark {
    color: #5cd2b9;
    background: transparent;
    font-weight: bold;
}

.cv-btn {
    padding: 10px;
    background: #5cd2b9;
    color: black;
    border-radius: 4px;
    margin-right: 4px;
}

.contact-btn {
    padding: 10px;
    background: #f3f5f5;
    color: black;
    border-radius: 4px;
}

.social {
    margin-top: 15px;
}

.fa-brands {
    font-size: 30px;
    color: gray;
}

.fa-square-github {
    margin-right: 10px;
}

.fa-brands:hover {
    color: white;
}

.x-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
}

.hero-img {
    padding: 10px;
    max-width: 400px;
    max-height: 400px;
    animation: img ease-in-out infinite 5s;
}

.hero-img>img {
    height: 100%;
    width: 100%;
}

@keyframes img {

    0%,
    100% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }
}

/* ABOUT SECTION */
.about-section {
    padding: 90px 0;
}

.about-img {
    padding: 6px;
    max-height: 400px;
    max-width: 400px;
    border: 1px solid #5cd2b9;
    border-radius: 15px;
}

.about-img>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}

h2 {
    color: #5cd2b9;
    font-size: 40px;
}

.gradient {
    padding: 4px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.525), #5cd2b96a, rgba(0, 0, 0, 0.477));
}

.about-content>p {
    color: white;
    font-size: 20px;
}

.html {
    background: url(../assets/html5-brands.svg) no-repeat;
    height: 40px;
    width: 40px;
}

.css {
    background: url(../assets/css3-brands.svg) no-repeat;
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

.js {
    background: url(../assets/js-brands.svg)no-repeat;
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

.react {
    background: url(../assets/react-brands.svg)no-repeat;
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

.github {
    background: url(../assets/github-brands.svg)no-repeat;
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

/* PROJECTS SECTION */
.project-section {
    background: linear-gradient(69deg, #429887, #02010100, #02010100);
    padding: 80px 0;
}


.project {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.995), #5cd2b9c4, rgba(0, 0, 0, 0.578));
    max-width: 280px;
    border-radius: 25px;
    margin: 0 auto;
}

.project>h2 {
    margin-bottom: 25px;
    color: white;
    text-align: center;
    background: white;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.card-all {
    padding: 15px;
    border-radius: 15px;
    background: black;
    min-height: 450px;
    margin-bottom: 15px;
}

h3 {
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 14px;
    font-family: serif;
}

.card-img {
    max-width: 552px;
    max-height: 400px;
}

.card-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.skill-btn {
    margin-top: 15px;
    font-size: 15px;
}

.html-css,
.js-b,
.bootstrap {
    padding: 8px;
    background: white;
    text-align: center;
    border-radius: 8px;
}

.git {
    margin-top: 15px;
    font-size: 15px;
}

.source {
    background: #5e7a75;
    padding: 8px 20px;
    text-align: center;
    border-radius: 8px;
    color: #040e27;
}

.live {
    background: #3d3f51;
    padding: 8px 50px;
    text-align: center;
    border-radius: 8px;
    color: #ffffff;
}

/* FOR LOADING PROJECTS */
/* From Uiverse.io by doniaskima */
/* HTML: <div class="loader"></div> */

.loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 25px;
    background: linear-gradient(90deg, #000000 50%, #3c3b3be8 0) right/200% 100%;
    animation: l21 2s infinite linear;
    border-radius: 25px;
}

.loader::before {
    content: "Loading...";
    color: #0000;
    padding: 0 40px;
    background: inherit;
    background-image: linear-gradient(90deg, #fff 50%, #000 0);
    -webkit-background-clip: text;
    background-clip: text;
}

@keyframes l21 {
    100% {
        background-position: left
    }
}

/* FORM SECTION */
.form-section {
    padding: 80px 0;
}

.form {
    padding: 40px;
    border: 1px solid #5cd2b9;
    gap: 25px;
}

label {
    color: #5cd2b9;
    margin-bottom: -21px;
}

#name,
#email,
#message {
    background: #151515cf;
    border: 1px solid #5cd2b9;
    padding: 8px;
    color: white;
    outline: none;
}

.submit {
    background: #5cd2b9;
    padding: 8px;
    text-align: center;
    border: none;
    outline: none;
    font-weight: bold;
}

.m-bottom {
    color: #5cd2b9;
}

.title {
    color: white;
    margin-bottom: 15px;
    font-size: 40px;
}

.title>span {
    color: #5cd2b9;
}

.contact-info>p {
    color: gainsboro;
}

.email {
    background: url(../assets/envelope-regular.svg)no-repeat;
    height: 25px;
    width: 25px;
}

.head {
    color: rgb(149, 148, 148);
}

.title-1 {
    font-size: 25px;
    font-weight: 600;
}







/* BREAKPOINT */
@media screen and (max-width:992px) {

    /* HERO SECTION */
    h1 {
        font-size: 80px;
    }

    /* ABOUT SECTION */
    .about-section {
        padding: 50px 0;
    }

    /* PROJECTS SECTION */
    .project-section {
        padding: 60px 0;
    }

    .card-all {
        min-height: 355px;
    }

}



@media screen and (max-width:767.98px) {

    /* HEADER SECTION */
    .nav-logo {
        width: 40px;
        height: 40px;
    }

    .navbar-toggler {
        padding: 1.5px;
    }

    .navbar-toggler:focus {
        padding: 2px;
        box-shadow: 0 0 0 0.10rem #5cd2b9;
    }

    .navbar-toggler-icon {
        width: 25px;
    }

    /* HERO SECTION */
    h1 {
        font-size: 60px;
    }

    #hero-section .row {
        flex-direction: column-reverse;
    }

    .hero-img {
        margin-bottom: 36px;
    }

    .details {
        font-size: 1.1rem;
        max-width: 483px;
    }

    /* ABOUT SECTION */
    h2 {
        font-size: 30px;
    }

    .about-img {
        margin-bottom: 18px;
    }

    .about-content>p {
        font-size: 1.1rem;
    }

    /* PROJECTS SECTIONS */
    h3 {
        font-size: 15px;
    }

    .card-all {
        min-height: 325px;
    }

    .live {
        padding: 8px 35px;
    }

    .loader {
        display: none;
    }

    /* FORM SECTION */
    .form-column {
        flex-direction: column-reverse;
    }

    .form {
        margin-top: 25px;
        padding: 25px;
    }
}